.button {
	background: $button_bg_color;
	box-shadow: $button_shadow;
	border-radius: 12px;
	width: 100%;
	cursor: pointer;
	user-select: none;
	&-body {
		display: block;
		text-align: center;
		width: 100%;
		height: 100%;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
		padding: 10px;
	}
}

.username {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.option {
	display: flex;
	align-items: center;
	&__item {
		padding: 12px;
		mix-blend-mode: normal;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 12px;
		margin-left: 8px;
		&:first-child {
			margin-left: 0;
		}
	}
}

.create-values {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	&__taste {
		border-radius: 8px;
		background: $main_color;
		padding: 11px 12px 10px 16px;
		margin-right: 9px;
		&-digit {
			color: $white_color;
			margin-right: 22px;
		}
		&-name {
			color: $gray_text_color;
		}
	}
	&__like {
		margin-right: 11px;
		img {
		}
		span {
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: $white_color;
		}
	}

	&__additional {
		color: $gray_text_color;
	}
	@media (max-width: 470px) {
		flex-direction: column;
		&__taste {
			margin: 0 0 10px 0;
		}
		&__like {
			margin: 0 0 5px 0;
		}
	}
}

.person {
	display: flex;
	align-items: center;
	&__image {
		margin-right: 12px;
		img {
			filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.15));
			border-radius: 12px;
			width: 49px;
			width: 49px;
		}
	}

	&__info {
	}

	&__info-title {
		display: block;
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		color: $white_color;
		margin-bottom: 4px;
	}

	&__info-nickname {
	}
	@media (max-width: 500px) {
		&__info-title {
			font-size: 15px;
		}
	}
}

.delete-file-button {
	display: flex;
	align-items: center;
	margin-left: 10px;
	&__img {
		margin-right: 5px;
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #ff5e54;
	}
}

.money{
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	max-width: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
}
