.header {
	background: $second_color;
	box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
	border-radius: 0px 0px 32px 32px;
	height: 56px;
	width: 100%;
	margin-bottom: 40px;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
		height: 100%;
	}
	&__logo {
		max-width: 47px;
		width: 100%;
		img {
		}
	}
	&__search {
		flex: 1 1 auto;
		height: 100%;
		display: flex;
		align-items: center;
		margin: 0 25px 0 15px;
		width: 100%;
		height: 32px;
		background: $main_color;
		border-radius: 12px;
		padding: 0 14px;
		img {
		}
		input {
			width: 100%;
			height: 100%;
			background: none;
			color: #fff;
			margin-left: 10px;
		}
	}

	&__connect {
		background: $button_bg_color;
		box-shadow: $button_shadow;
		border-radius: 12px;
		max-width: 126px;
		width: 100%;
		&-body {
			display: block;
			text-align: center;
			width: 100%;
			height: 100%;
			font-size: 12px;
			line-height: 14px;
			color: #fff;
			padding: 9px 10px;
			a {
				display: block;
				text-align: center;
				width: 100%;
				height: 100%;
				font-size: 12px;
				line-height: 14px;
				color: #fff;
			}
		}
	}

	&__lk {
	}

	.lk {
		margin-left: 16px;
		position: relative;
		&__person {
			display: flex;
			align-items: center;
		}

		&__person-image {
			margin-right: 10px;
			img {
				width: 40px;
				height: 40px;
				filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.15));
				border-radius: 12px;
			}
		}

		&__person-content {
			display: flex;
			flex-direction: column;
		}

		&__person-title {
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: $white_color;
		}

		&__person-info {
			display: flex;
			align-items: center;
		}

		&__person-nickname {
			margin-right: 10px;
		}

		&__person-balance {
		}
		.balance {
			display: flex;
			align-items: center;
			&__title {
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
				color: $gray_text_color;
				margin-right: 4px;
			}
			img {
				margin-right: 3px;
			}

			&__amount {
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
				color: $white_color;
			}
		}
		&__dropdown {
			margin-left: 5px;
			img {
			}
		}
		.lk-menu {
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			position: absolute;
			width: 267px;
			left: -12px;
			top: 51px;
			background: $second_color;
			box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
			border-bottom-left-radius: 12px;
			border-bottom-right-radius: 12px;
			padding: 12px;
			z-index: 10;
			&_active {
				display: flex;
			}
			&__item {
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				margin-bottom: 10px;
				&:first-child {
					color: $gray_text_color;
				}
				&:last-child {
					color: #ff5e54;
					margin-bottom: 0;
				}
			}
		}
	}
	@media (max-width: 768px) {
		.lk {
			.lk-menu {
				left: -70px;
			}

			&__person-nickname {
				display: none;
			}
		}
	}
	@media (max-width: 600px) {
		.lk {
			&__person-image {
				margin-right: 0;
			}
			.lk-menu {
				left: -180px;
			}
			&__person-content {
				display: none;
			}
		}
	}
	@media (max-width: 420px) {
		height: 48px;
		margin-bottom: 20px;
		.lk {
			margin-left: 10px;
		}
		&__body {
			padding: 0 10px;
		}
		&__search {
			margin: 10px;
		}
	}
}
