.lot {
	width: 100%;
	height: 100%;
	&__header {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&__titles {
		display: flex;
		align-items: center;
	}
	&__title {
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		color: $white_color;
		margin-right: 24px;
		&:not(:first-child) {
			color: $gray_text_color;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	&__header-item {
		display: flex;
		align-items: center;
		border: 1px solid rgba(255, 255, 255, 0.1);
		filter: drop-shadow(0px 15px 30px rgba(20, 102, 204, 0.16));
		border-radius: 99px;
		padding: 10px 24px;
		span {
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			margin-right: 5px;
		}
		img {
			width: 8px;
			height: 5px;
		}
	}

	&__body {
		margin-top: 24px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__body-item {
	}

	.lot-item {
		flex: 0 1 20%;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 317px;
		border: 1px solid #333940;
		margin: 0 15px 15px 0;

		&:nth-child(4n) {
			margin-right: 0;
		}
		&__content {
			position: relative;
		}

		&__profile {
			display: flex;
			align-items: center;
			background: $white_color;
			mix-blend-mode: normal;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
			border-radius: 12px;
			max-width: 131px;
			width: 100%;
			height: 44px;
			padding: 5px 10px;
			position: absolute;
			left: 16px;
			top: 12px;
		}

		&__profile-image {
			img {
				width: 26px;
				height: 26px;
				margin-right: 8px;
				filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.15));
				border-radius: 8px;
			}
		}

		&__profile-info {
			h5 {
				font-size: 14px;
				line-height: 16px;
				color: $main_color;
				margin-bottom: 2px;
			}
			span {
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
			}
		}
		&__widget {
		}
		&__status {
			position: absolute;
			left: 16px;
			top: 16px;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			background: $white_color;
			mix-blend-mode: normal;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
			border-radius: 12px;
			padding: 12px 14px;
			display: flex;
			align-items: center;
			justify-content: center;
			&_approved {
				color: #86d084;
			}

			&_moderation {
				color: #ffba09;
			}

			&_declined {
				color: #ff5e54;
			}
		}
		&__points {
			position: absolute;
			right: 16px;
			top: 22px;
		}

		&__point {
			background: $white_color;
			box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
			border-radius: 50%;
			margin-bottom: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			span {
				position: relative;
				width: 3px;
				height: 3px;
				left: 0;
				transform: translateX(25%);
				background-color: black;
				border-radius: 50%;
				&:before,
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0px;
					background-color: inherit;
					border-radius: inherit;
				}
				&:before {
					top: -6px;
				}
				&::after {
					top: 6px;
				}
			}
			&_disabled {
				background: rgba($color: #fff, $alpha: 0.5);
				span {
					background: #fff;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		&__image {
			margin-bottom: 24px;
		}

		&__title {
			font-weight: bold;
			font-size: 20px;
			line-height: 23px;
			color: $white_color;
			padding: 0 0 0 16px;
			margin: 24px 0 17px 0;
		}

		&__sold {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 16px;
			margin-bottom: 15px;
		}

		&__sold-text {
			flex: 0 1 65%;
			font-weight: 600;
			font-size: 14px;
			line-height: 16px;
			color: $gray_text_color;
		}

		&__sold-token {
			flex: 0 1 35%;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			color: $white_color;
			display: flex;
			justify-content: flex-start;
			img {
				margin-right: 5px;
			}
			span {
			}
		}
	}
	&__show-button {
		background: linear-gradient(270deg, rgba(#8743ff, 0.2) 0%, rgba(#4136f1, 0.2) 100%);
		border-radius: 12px;
		padding: 12px 32px;

		max-width: 121px;
		margin: 24px auto 48px auto;
		span {
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	@media (max-width: 500px) {
		&__header {
			justify-content: center;
		}
		.container {
			padding: 0 10px;
		}
		.lot-item {
			margin-right: 0;
		}
	}
}
