.main-slider {
	max-width: 786px;
	height: 548px;
	width: 100%;
	&__body {

	}

	&__item {
		max-width: 519px;
		display: inline-flex;
		overflow: hidden;
		img {
			width: 519px;
			height: 519px;
		}
	}
	.swiper-pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 0px;
	}
	.swiper-pagination-bullet {
		width: 95px;
		height: 10px;
		background: $gray_text_color;
		border-radius: 99px;
	}
	@media(max-width: 1278px) {
		max-width: 620px;
		height: 440px;
		&__item {
			img {
				width: 419px;
				height: 419px;
			}
		}
	}
	@media(max-width: 1107px) {
		max-width: 510px;
	}
	@media(max-width: 991px) {
		max-width: 728px;
	}
	@media(max-width: 725px) {
		max-width: 650px;
		height: 380px;
		margin-bottom: 20px;
		&__item {
			max-width: 100%;
			img {
				width: 350px;
				height: 350px;
			}
		}
		.swiper-pagination-bullet {
			width: 55px;
			height: 3px;
		}
	}
	@media(max-width: 500px) {
		width: 100%;
		height: 100%;
		&__item {
			width: 80%;
			img {
				// max-width: 100%;
				width: 100%;
				height: 100%;
			}
		}
		.swiper-pagination {
			display: none;
		}
	}
}
