.mainframe {
	width: 100%;
	height: 100%;
	margin-bottom: 65px;
	&__body {
		position: relative;
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__bid {
	}

	.bid {
		max-width: 518px;
		width: 100%;
		background: $second_color;
		box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
		border-radius: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		bottom: 0;
		left: 50%;
		height: 75px;
		transform: translate(-50%, 50%);
		&__item {
			flex: 0 1 33.333%;
			position: relative;
			display: flex;
			flex-direction: column;
			padding: 12px 20px;
			&::after {
				position: absolute;
				content: "";
				height: 43px;
				width: 3px;
				background: rgba(255, 255, 255, 0.15);
				border-radius: 12px;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
		}

		&__item-title {
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: $gray_text_color;
			margin-bottom: 8px;
		}

		&__item-content {
			display: flex;
			align-items: center;
			img {
				margin-right: 5px;
			}
			p {
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: $white_color;
			}
			span {
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: $gray_text_color;
				margin-left: 4px;
			}
		}

		&__item-button {
			span {
				white-space: nowrap;
				width: 100%;
				font-size: 14px;
				padding: 13px 33px;
			}
		}
	}
	@media (max-width: 620px) {
		margin-bottom: 30px;
		.bid {
			margin-top: 20px;
			max-width: none;
			width: 100%;
			position: static;
			// flex-direction: column;
			justify-content: center;
			flex-wrap: wrap;
			height: 100%;
			background: none;
			left: 0;
			top: 0;
			transform: translate(0, 0);
			&__item {
				padding: 5px 10px;
				flex: none;
				margin-bottom: 10px;
				&::after {
					display: none;
				}
			}
		}

	}
}
